.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-doggos {
  background-color: white;
  height: 100%;
  width: 100%;
}

.section-photos-dogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.item-img {
  height: 350px;
}

.card-dog {
  height: 200px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: rgb(209, 230, 230);
}

.card-dog > .photo {
  background-image: url("https://images.dog.ceo/breeds/hound-ibizan/n02091244_1252.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 12px 0 0 12px;
}
